.container-fluid{
	position: absolute;
    display: inline-block;
    text-align: center;

}

.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}

.centrado{
    position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img{
	background-image: cover;
	position: absolute;
}

